#JDBC Driver Name
# FOR ORACLE
#db.driver=oracle.jdbc.driver.OracleDriver
#db.url=jdbc:oracle:thin:@[ip]:[port]:[sid]
#db.charset=utf-8
#db.user=[계정명]
#db.password=[패스워드]
#db.vendor=oracle
#db.dialect=org.hibernate.dialect.OracleDialect


# FOR CUBRID
#db.driver=cubrid.jdbc.driver.CUBRIDDriver
#db.url=jdbc:CUBRID:[ip]:[port]:[db명]:::?charset=utf-8
#db.charset=utf-8
#db.user=[계정명]
#db.password=[비밀번호]
#db.vendor=CUBRID
#db.dialect=org.hibernate.dialect.CUBRIDDialect

# FOR MSSQL
#db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
#db.url=jdbc:sqlserver://[ip]:[port];databaseName=[db명]
#db.charset=euc-kr
#db.user=[유저명]
#db.password=[비밀번호]
#db.vendor=mssql
#db.dialect=org.hibernate.dialect.SQLServerDialect

# FOR TIBERO
#db.driver=com.tmax.tibero.jdbc.TbDriver
#db.url=jdbc:tibero:thin:@[ip]:[port]:[sid]
#db.charset=utf-8
#db.user=[유저명]
#db.password=[비밀번호]
#db.vendor=TIBERO
#db.dialect=org.hibernate.dialect.Oracle10gDialect

#FOR MYSQL
db.driver=com.mysql.jdbc.Driver
#db.driver=com.mysql.cj.jdbc.Driver
db.url=jdbc:mysql://[ip]:[port]/[db명]?useUnicode=true&autoReconnect=true
db.charset=utf-8
db.user=[유저명]
db.password=[패스워드]
db.vendor=MYSQL
db.encrypt=false
db.dialect=org.hibernate.dialect.MySQL5Dialect


db.min.connection=5
db.max.connection=20
db.max.idle.timeout=5


#Database Replication
db.replication.max.connection=60000

#Password cryption
password_cryption=false
